.container {
  display: block;
}

.username-password{
  display: block;
  text-align: center;
  margin: auto;
}

.block{
    display: block;
}

.username {
    display: flex;
    border: 2px solid lightgrey;
    border-radius: 5px;
    background-color: white;
    /* background-image: url('searchicon.png'); */
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding: 15px 40px;
    font-size: 16px;
    margin: auto;
    width: 100%;
}

.password {
    display: flex;
    border: 2px solid lightgrey;
    border-radius: 5px;
    background-color: white;
    /* background-image: url('searchicon.png'); */
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    width: 100%;
    padding: 15px 40px;
    font-size: 16px;
    margin: auto;
}

.login-button {
    background-color: #4CAF50;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.register-button {
    background-color: white;
    border: none;
    color: #4CAF50;
    padding: 15px 10px;
    text-align: center;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;

}
