.chatroom{

}

.matches{
  border: 2px solid green;
  height: 30%;
  width: 80%;
  min-height:120px;
  border-radius: 50px;
  margin:auto;
  display:flex;

  color:green;
  font-weight: bold;
}
.matchtext{
  color:green;
  font-weight: bold;
  width:60%;
  margin:auto;
  display:inline-block;
}
.icimages{
  justify-content: space-evenly;

  margin:auto;
  max-height:80px;
  max-width:80px;
  min-height:80px;
  min-width:80px;
  border-radius: 40px;
  background-color: white;
  border: 2px solid green;
}
.Cicimages{
  margin-top:auto;
  margin-bottom: auto;
  margin-left: 20px;
}
.ctext{
  margin-top:auto;
  margin-bottom: auto;
  margin-left: 100px;

}
.Chats{
  margin-top: 10px;
}
.messages{
  color:green;
  font-weight: bold;
  border: 2px solid green;
  height: 30%;
  width: 80%;
  min-height:600px;
  border-radius: 50px;
  margin:auto;
  margin-top:50px;
}
