.profile-image{
  width: 420px;
  height: 100;
  margin: 40px auto 0 auto;
  position: relative;
  overflow: hidden;
}

.userForm{
  width: 420px;
  height: 100%;
  margin: 40px auto 0 auto;
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;


}

label{
  color: #4CAF50;
  float: left;
  width: 80%;
  text-align: left;
}

input{
  display: inline-block;
  border-radius: 5px;
  padding: 5px 40px;
  width: 100%;
  font-size: 20px;
}

.shortDescription{
  display: block;
  border-radius: 5px;
  padding: 30px 40px;
}

input[type=submit]{
  color: grey;
  cursor: pointer;
  text-align: center;
  width: 82%;
}

.select{
  float: left;
  display: block;
  width: 100%;
  font-size: 20px;
  margin-top: 5px;
  text-align: left;
}

.hobbyForm{
  width: 420px;
  height: 100%;
  margin: 40px auto 0 auto; */
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.discover-button {
    background-color: #4CAF50;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 5px 40px;
}
